---
import MobileMenu from '@components/ui/MobileMenu';
---

<header class='sticky top-0 z-10 bg-white'>
  <div
    class='flex items-center justify-between px-6 md:px-10 py-9 md:py-16 h-7'
  >
    <div>
      <a href='/'>
        <img src='/assets/shared/logo-dark.png' alt='logo' class='!h-7' />
      </a>
    </div>
    <div class='md:hidden'>
      <MobileMenu client:media='(max-width: 48rem)' />
    </div>
    <div>
      <nav>
        <ul
          role='list'
          class='flex items-center gap-10 text-sm uppercase tracking-[2px]'
        >
          <li>
            <a href='/about' class='hover:underline'>Our Company</a>
          </li>
          <li>
            <a href='/locations' class='hover:underline'>Locations</a>
          </li>
          <li>
            <a href='/contact' class='hover:underline'>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
