---
import MainLayout from '@layouts/MainLayout.astro';
import Tile from '@components/ui/Tile.astro';
import BorderlessCard from '@components/ui/BorderlessCard.astro';
import { aboutData } from '@data/aboutData';
import { locationData } from '@data/locationData';
---

<MainLayout>
  <div>
    <div>
      <img src='/assets/mobile/about/image-about-hero.jpg' alt='meeting' />
    </div>
    <div
      class='flex flex-col items-center gap-6 bg-peach-600 text-white px-6 py-20 bg-[url("/assets/mobile/about/bg-pattern-hero-about-mobile.svg")] bg-[top_-120px_right] bg-no-repeat'
    >
      <h1>About Us</h1>
      <p class='text-[0.9375rem] text-center'>
        Founded in 2010, we are a creative agency that produces lasting results
        for our clients. We’ve partnered with many startups, corporations, and
        nonprofits alike to craft designs that make real impact. We’re always
        looking forward to creating brands, products, and digital experiences
        that connect with our clients’ audiences.
      </p>
    </div>
  </div>
  <Tile aboutData={aboutData[0]} />
  <section class='flex flex-col gap-12 mt-28'>
    {locationData.map((location) => <BorderlessCard data={location} />)}
  </section>
  <div class='mt-28'>
    <Tile aboutData={aboutData[1]} />
  </div>
</MainLayout>
