---
import MainLayout from '@layouts/MainLayout.astro';
import LocationTile from '@components/ui/LocationTile.astro';
import BorderlessCard from '@components/ui/BorderlessCard.astro';
import { aboutData } from '@data/aboutData';
import { locationData } from '@data/locationData';
---

<MainLayout>
  <div class='md:space-y-28'>
    <div class='md:rounded-2xl md:overflow-hidden lg:flex lg:flex-row-reverse'>
      <div class='lg:w-5/12'>
        <img
          src='/assets/mobile/about/image-about-hero.jpg'
          alt='meeting'
          class='md:hidden'
        />
        <img
          src='/assets/tablet/about/image-about-hero.jpg'
          alt='meeting'
          class='hidden md:block lg:hidden'
        />
        <img
          src='/assets/desktop/about/image-about-hero.jpg'
          alt='meeting'
          class='hidden lg:block'
        />
      </div>
      <div
        class='flex flex-col items-center lg:items-start gap-6 md:gap-8 bg-peach-600 text-white px-6 md:px-20 lg:px-24 py-20 md:py-16 lg:py-36 bg-[url("/assets/mobile/about/bg-pattern-hero-about-mobile.svg")] md:bg-[url("/assets/shared/about/bg-pattern-hero-about.svg")] bg-[top_-120px_right] md:bg-[top_-360px_right] lg:bg-bottom bg-no-repeat lg:w-7/12'
      >
        <h1>About Us</h1>
        <p class='text-[0.9375rem] text-center lg:text-start'>
          Founded in 2010, we are a creative agency that produces lasting
          results for our clients. We’ve partnered with many startups,
          corporations, and nonprofits alike to craft designs that make real
          impact. We’re always looking forward to creating brands, products, and
          digital experiences that connect with our clients’ audiences.
        </p>
      </div>
    </div>
    <div class='md:rounded-2xl md:overflow-hidden lg:flex'>
      <div class='lg:w-5/12'>
        <img
          src='/assets/mobile/about/image-world-class-talent.jpg'
          alt='world class talent'
          class='md:hidden'
        />
        <img
          src='/assets/tablet/about/image-world-class-talent.jpg'
          alt='world class talent'
          class='hidden md:block lg:hidden'
        />
        <img
          src='/assets/desktop/about/image-world-class-talent.jpg'
          alt='world class talent'
          class='hidden lg:block'
        />
      </div>
      <div
        class='flex flex-col items-center lg:items-start gap-6 px-6 md:px-20 lg:px-24 py-20 md:py-16 lg:py-36 bg-peach-100 bg-[url("/assets/shared/bg-pattern-three-circles.svg")] lg:bg-bottom text-center lg:text-start lg:w-7/12'
      >
        <h1 class='text-peach-600'>World-class talent</h1>
        <div class='text-[0.9375rem] space-y-6'>
          <p>
            We are a crew of strategists, problem-solvers, and technologists.
            Every design is thoughtfully crafted from concept to launch,
            ensuring success in its given market. We are constantly updating our
            skills in a myriad of platforms.
          </p>
          <p>
            Our team is multi-disciplinary and we are not merely interested in
            form — content and meaning are just as important. We give great
            importance to craftsmanship, service, and prompt delivery. Clients
            have always been impressed with our high-quality outcomes that
            encapsulates their brand’s story and mission.
          </p>
        </div>
      </div>
    </div>
    <section
      class='flex flex-col gap-12 lg:flex-row lg:justify-evenly mt-28 md:m-0'
    >
      {locationData.map((location) => <BorderlessCard data={location} />)}
    </section>
    <div
      class='md:rounded-2xl md:overflow-hidden mt-28 md:m-0 lg:flex lg:flex-row-reverse'
    >
      <div class='lg:w-5/12'>
        <img
          src='/assets/mobile/about/image-real-deal.jpg'
          alt='real deal'
          class='md:hidden'
        />
        <img
          src='/assets/tablet/about/image-real-deal.jpg'
          alt='real deal'
          class='hidden md:block lg:hidden'
        />
        <img
          src='/assets/desktop/about/image-real-deal.jpg'
          alt='real deal'
          class='hidden lg:block'
        />
      </div>
      <div
        class='flex flex-col items-center lg:items-start gap-6 px-6 md:px-20 lg:px-24 py-20 md:py-16 lg:py-36 bg-peach-100 bg-[url("/assets/shared/bg-pattern-three-circles.svg")] lg:bg-bottom text-center lg:text-start lg:w-7/12'
      >
        <h1 class='text-peach-600'>The real deal</h1>
        <div
          class='flex flex-col items-center gap-6 text-[0.9375rem] md:text-base'
        >
          <p>
            As strategic partners in our clients’ businesses, we are ready to
            take on any challenge as our own. Solving real problems require
            empathy and collaboration, and we strive to bring a fresh
            perspective to every opportunity. We make design and technology more
            accessible and give you tools to measure success.
          </p>
          <p>
            We are visual storytellers in appealing and captivating ways. By
            combining business and marketing strategies, we inspire audiences to
            take action and drive real results.
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
