---
import MainLayout from '@layouts/MainLayout.astro';
import ContactForm from '@components/layout/ContactForm';
import BorderlessCard from '@components/ui/BorderlessCard.astro';
import { locationData } from '@data/locationData';
---

<MainLayout>
  <ContactForm client:only='preact' />
  <section class='space-y-10 lg:space-y-0 mt-28 lg:flex lg:justify-evenly'>
    {locationData.map((location) => <BorderlessCard data={location} />)}
  </section>
</MainLayout>
