---
import MainLayout from '@layouts/MainLayout.astro';
import DesignCard from '@components/ui/DesignCard.astro';
---

<MainLayout>
  <div
    class='flex flex-col items-center gap-6 bg-peach-600 text-white px-6 md:px-40 py-24 bg-[url("/assets/mobile/shared/bg-pattern-design-pages-intro-mobile.svg")] md:bg-[url("/assets/shared/bg-pattern-design-pages-intro.svg")] bg-right-top md:bg-center bg-no-repeat md:rounded-2xl'
  >
    <h1>Graphic Design</h1>
    <p class='text-center'>
      We deliver eye-catching branding materials that are tailored to meet your
      business objectives.
    </p>
  </div>
  <section
    class='px-6 mt-24 space-y-10 md:px-0 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8 relative'
  >
    <DesignCard
      image='/assets/shared/graphic-design/image-change.webp'
      title='Tim Brown'
      description='A book cover designed for Tim Brown’s new release, ‘Change’'
    />
    <DesignCard
      image='/assets/shared/graphic-design/image-boxed-water.webp'
      title='Boxed Water'
      description='A simple packaging concept made for Boxed Water'
    />
    <DesignCard
      image='/assets/shared/graphic-design/image-science.webp'
      title='Science!'
      description='A poster made in collaboration with the Federal Art Project'
    />
    <div
      class='h-[600px] w-full lg:bg-[url("/assets/shared/bg-pattern-leaf.svg")] bg-no-repeat absolute -top-64 right-44 -z-50'
    >
    </div>
  </section>
  <section class='flex flex-col gap-6 px-6 mt-24 lg:flex-row md:px-0'>
    <div class='relative w-full group'>
      <a href='/web-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-web-design.webp")] md:bg-[url("/assets/tablet/home/image-web-design.webp")] lg:bg-[url("/assets/desktop/home/image-web-design.webp")]'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>Web Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
    <div class='relative w-full group'>
      <a href='/app-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-app-design.webp")] md:bg-[url("/assets/tablet/home/image-app-design.webp")] lg:bg-[url("/assets/desktop/home/image-app-design.webp")]'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>App Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
  </section>
</MainLayout>
