---
import MainLayout from '@/layouts/MainLayout.astro';
import DesignCard from '@/components/DesignCard.astro';
---

<MainLayout>
  <div
    class='flex flex-col items-center gap-6 bg-peach-600 text-white px-6 py-24 bg-[url("/assets/mobile/bg-pattern-design-pages-intro-mobile.svg")] bg-right-top bg-no-repeat'
  >
    <h1>Graphic Design</h1>
    <p class='text-[0.9375rem] text-center'>
      We deliver eye-catching branding materials that are tailored to meet your
      business objectives.
    </p>
  </div>
  <div class='px-6 mt-24 space-y-10'>
    <DesignCard
      image='/assets/shared/graphic-design/image-change.jpg'
      title='Tim Brown'
      description='A book cover designed for Tim Brown’s new release, ‘Change’'
    />
    <DesignCard
      image='/assets/shared/graphic-design/image-boxed-water.jpg'
      title='Boxed Water'
      description='A simple packaging concept made for Boxed Water'
    />
    <DesignCard
      image='/assets/shared/graphic-design/image-science.jpg'
      title='Science!'
      description='A poster made in collaboration with the Federal Art Project'
    />
  </div>
</MainLayout>
