---
import MainLayout from '@layouts/MainLayout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import BorderlessCard from '@components/BorderlessCard.astro';
import Button from '@components/Button.astro';
import { valuesData } from '@data/valuesData';
---

<MainLayout>
  <section
    class='flex flex-col items-center gap-3.5 bg-peach-600 px-6 pt-20 text-white text-center bg-[url("/assets/shared/bg-pattern-hero-home.svg")] bg-[top_100px_left] bg-no-repeat overflow-hidden'
  >
    <h1>Award-winning custom designs and digital branding solutions</h1>
    <p>
      With over 10 years in the industry, we are experienced in creating fully
      responsive websites, app design, and engaging brand experiences. Find out
      more about our services.
    </p>
    <Button
      buttonText='Learn More'
      buttonBgColor='bg-white'
      buttonTextColor='text-black'
      buttonHref='/about'
    />
    <div class='mt-16 px-6'>
      <img
        src='/assets/mobile/image-hero-phone-mobile.png'
        alt='phone image'
        class='hero-img drop-shadow-hero-mobile'
      />
    </div>
  </section>
  <section class='flex flex-col gap-6 px-6 mt-28'>
    <ProjectCard title='Web Design' link='/web-design' imgSrc='web' />
    <ProjectCard title='App Design' link='/app-design' imgSrc='app' />
    <ProjectCard title='Graphic Design' link='/graphic-design' imgSrc='graphic'
    />
  </section>
  <section class='flex flex-col items-center gap-20 px-6 mt-28'>
    {valuesData.map((value) => <BorderlessCard data={value} />)}
  </section>
</MainLayout>
