---
import '../style/global.css';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap'
      rel='stylesheet'
    />
    <title>Designo</title>
  </head>
  <body>
    <header>
      <div class='flex'>
        <div>
          <img src='/assets/shared/logo-dark.png' alt='' class='block h-7' />
        </div>
        <img src='/assets/mobile/icon-hamburger.svg' alt='' />
      </div>
      <nav>
        <ul role='list' class='flex invisible'>
          <li>
            <a href='#'>Our Company</a>
          </li>
          <li>
            <a href='#'>Locations</a>
          </li>
          <li>
            <a href='#'>Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Hello World!</h1>
    </main>
  </body>
</html>
