---
import MainLayout from '@layouts/MainLayout.astro';
import BorderlessCard from '@components/ui/BorderlessCard.astro';
import Button from '@components/ui/Button.astro';
import { valuesData } from '@data/valuesData';
---

<MainLayout>
  <section
    class='flex flex-col lg:flex-row items-center gap-3.5 bg-peach-600 px-6 md:px-24 pt-20 lg:py-36 text-white bg-[url("/assets/shared/home/bg-pattern-hero-home.svg")] bg-[top_100px_left] md:bg-[top_100px_right] lg:bg-right-top bg-no-repeat overflow-hidden md:rounded-2xl'
  >
    <div
      class='flex flex-col items-center gap-6 text-center lg:items-start lg:text-start'
    >
      <h1>Award-winning custom designs and digital branding solutions</h1>
      <p class='lg:max-w-md'>
        With over 10 years in the industry, we are experienced in creating fully
        responsive websites, app design, and engaging brand experiences. Find
        out more about our services.
      </p>
      <Button
        buttonText='Learn More'
        buttonBgColor='bg-white'
        buttonTextColor='text-black'
        buttonHref='/about'
      />
    </div>
    <div class='px-6 mt-16 pointer-events-none lg:m-0'>
      <img
        src='/assets/mobile/home/image-hero-phone-mobile.webp'
        alt='phone image'
        class='hero-img drop-shadow-hero-mobile md:hidden'
      />
      <img
        src='/assets/desktop/home/image-hero-phone.webp'
        alt='phone image'
        class='hidden w-auto -mt-40 md:block -mb-80 lg:-mb-96 lg:-mx-40 max-w-none'
      />
    </div>
  </section>
  <section class='grid grid-cols-1 gap-6 px-6 lg:grid-cols-2 md:px-0 mt-28'>
    <div class='relative group lg:row-span-2'>
      <a href='/web-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-web-design.webp")] md:bg-[url("/assets/tablet/home/image-web-design.webp")] lg:bg-[url("/assets/desktop/home/image-web-design-large.webp")] h-full'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>Web Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
    <div class='relative group'>
      <a href='/app-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-app-design.webp")] md:bg-[url("/assets/tablet/home/image-app-design.webp")] lg:bg-[url("/assets/desktop/home/image-app-design.webp")]'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>App Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
    <div class='relative group'>
      <a href='/graphic-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-graphic-design.webp")] md:bg-[url("/assets/tablet/home/image-graphic-design.webp")] lg:bg-[url("/assets/desktop/home/image-graphic-design.webp")]'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>Graphic Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
  </section>
  <section
    class='flex flex-col items-center gap-20 px-6 lg:flex-row lg:justify-evenly lg:gap-12 md:px-0 mt-28'
  >
    {valuesData.map((value) => <BorderlessCard data={value} />)}
  </section>
</MainLayout>
