---
import MainLayout from '@layouts/MainLayout.astro';
import LocationTile from '@components/ui/LocationTile.astro';
import { locationData } from '@data/locationData';
---

<MainLayout>
  <section class='space-y-10 md:space-y-28 lg:space-y-8'>
    {
      locationData.map((location, index) => (
        <LocationTile locationData={location} index={index} />
      ))
    }
  </section>
</MainLayout>
