---
import MainLayout from '@layouts/MainLayout.astro';
import DesignCard from '@components/ui/DesignCard.astro';
import ProjectCard from '@components/ui/ProjectCard.astro';
---

<MainLayout>
  <div
    class='flex flex-col items-center gap-6 bg-peach-600 text-white px-6 md:px-40 py-24 md:py-16 bg-[url("/assets/mobile/shared/bg-pattern-design-pages-intro-mobile.svg")] md:bg-[url("/assets/shared/bg-pattern-design-pages-intro.svg")] bg-right-top md:bg-center bg-no-repeat md:rounded-2xl'
  >
    <h1>Web Design</h1>
    <p class='text-[0.9375rem] text-center'>
      We build websites that serve as powerful marketing tools and bring
      memorable brand experiences.
    </p>
  </div>
  <section class='px-6 md:px-0 mt-24 space-y-10'>
    <DesignCard
      image='/assets/shared/web-design/image-express.jpg'
      title='Express'
      description='A multi-carrier shipping website for ecommerce businesses'
    />
    <DesignCard
      image='/assets/shared/web-design/image-transfer.jpg'
      title='Transfer'
      description='Site for low-cost money transfers and sending money within seconds'
    />
    <DesignCard
      image='/assets/shared/web-design/image-photon.jpg'
      title='Photon'
      description='A state-of-the-art music player with high-resolution audio and DSP effects'
    />
    <DesignCard
      image='/assets/shared/web-design/image-Builder.jpg'
      title='Builder'
      description='Connects users with local contractors based on their location'
    />
    <DesignCard
      image='/assets/shared/web-design/image-Blogr.jpg'
      title='Blogr'
      description='Blogr is a platform for creating an online blog or publication'
    />
    <DesignCard
      image='/assets/shared/web-design/image-camp.jpg'
      title='Camp'
      description='Get expert training in coding, data, design, and digital marketing'
    />
  </section>
  <section class='flex flex-col gap-6 px-6 md:px-0 mt-24'>
    <div>
      <a href='/app-design'>
        <div
          class='flex flex-col items-center gap-3 uppercase text-white py-24 rounded-2xl bg-[url("/assets/mobile/home/image-app-design.jpg")] bg-no-repeat bg-cover bg-center md:bg-[url("/assets/tablet/home/image-app-design.jpg")] lg:bg-[url("/assets/desktop/home/image-app-design.jpg")] bg-blend-overlay bg-gray-800'
        >
          <h2>App Design</h2>
          <div class='flex items-center gap-5 text-[0.9375rem] tracking-[5px]'>
            <span>View Projects</span>
            <img src='/assets/shared/icon-right-arrow.svg' alt='right arrow' />
          </div>
        </div>
      </a>
    </div>
    <div>
      <a href='/graphic-design'>
        <div
          class='flex flex-col items-center gap-3 uppercase text-white py-24 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-graphic-design.jpg")] md:bg-[url("/assets/tablet/home/image-graphic-design.jpg")] lg:bg-[url("/assets/desktop/home/image-graphic-design.jpg")] bg-blend-overlay bg-gray-800'
        >
          <h2>Graphic Design</h2>
          <div class='flex items-center gap-5 text-[0.9375rem] tracking-[5px]'>
            <span>View Projects</span>
            <img src='/assets/shared/icon-right-arrow.svg' alt='right arrow' />
          </div>
        </div>
      </a>
    </div>
  </section>
</MainLayout>
