---
import MainLayout from '@layouts/MainLayout.astro';
import DesignCard from '@components/ui/DesignCard.astro';
---

<MainLayout>
  <div
    class='flex flex-col items-center gap-6 bg-peach-600 text-white px-6 md:px-40 py-24 md:py-16 bg-[url("/assets/mobile/shared/shared/bg-pattern-design-pages-intro-mobile.svg")] md:bg-[url("/assets/shared/bg-pattern-design-pages-intro.svg")] bg-right-top md:bg-center bg-no-repeat md:rounded-2xl'
  >
    <h1>Web Design</h1>
    <p class='text-center'>
      We build websites that serve as powerful marketing tools and bring
      memorable brand experiences.
    </p>
  </div>
  <section
    class='px-6 mt-24 space-y-10 md:px-0 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8 relative'
  >
    <DesignCard
      image='/assets/shared/web-design/image-express.webp'
      title='Express'
      description='A multi-carrier shipping website for ecommerce businesses'
    />
    <DesignCard
      image='/assets/shared/web-design/image-transfer.webp'
      title='Transfer'
      description='Site for low-cost money transfers and sending money within seconds'
    />
    <DesignCard
      image='/assets/shared/web-design/image-photon.webp'
      title='Photon'
      description='A state-of-the-art music player with high-resolution audio and DSP effects'
    />
    <DesignCard
      image='/assets/shared/web-design/image-builder.webp'
      title='Builder'
      description='Connects users with local contractors based on their location'
    />
    <DesignCard
      image='/assets/shared/web-design/image-blogr.webp'
      title='Blogr'
      description='Blogr is a platform for creating an online blog or publication'
    />
    <DesignCard
      image='/assets/shared/web-design/image-camp.webp'
      title='Camp'
      description='Get expert training in coding, data, design, and digital marketing'
    />
    <div
      class='h-[600px] w-full lg:bg-[url("/assets/shared/bg-pattern-leaf.svg")] bg-no-repeat absolute -top-64 right-44 -z-50'
    >
    </div>
  </section>
  <section class='flex flex-col gap-6 px-6 mt-24 lg:flex-row md:px-0'>
    <div class='relative w-full group'>
      <a href='/app-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 lg:py-28 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-app-design.webp")] md:bg-[url("/assets/tablet/home/image-app-design.webp")] lg:bg-[url("/assets/desktop/home/image-app-design.webp")]'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>App Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
    <div class='relative w-full group'>
      <a href='/graphic-design'>
        <div
          class='grid grid-cols-1 place-items-center gap-y-4 uppercase text-white py-24 lg:py-28 rounded-2xl bg-no-repeat bg-cover bg-center bg-[url("/assets/mobile/home/image-graphic-design.webp")] md:bg-[url("/assets/tablet/home/image-graphic-design.webp")] lg:bg-[url("/assets/desktop/home/image-graphic-design.webp")]'
        >
          <div class='z-10 flex flex-col items-center gap-4'>
            <h2>Graphic Design</h2>
            <div
              class='flex items-center gap-5 text-sm md:text-base tracking-[5px]'
            >
              <span>View Projects</span>
              <img
                src='/assets/shared/components/icon-right-arrow.svg'
                alt='right arrow'
              />
            </div>
          </div>
        </div>
        <div
          class='absolute inset-0 transition-colors duration-300 bg-gray-800 rounded-2xl opacity-70 group-hover:bg-peach-600'
        >
        </div>
      </a>
    </div>
  </section>
</MainLayout>
