---
export interface Props {
  image: string;
  alt: string;
  title: string;
  description?: string;
  button?: boolean;
  buttonProps: {
    buttonText: string;
    buttonBgColor: string;
    buttonTextColor: string;
    buttonHref: string;
  };
}

import Button from '@components/Button.astro';

const { image, alt, title, description, button, buttonProps } =
  Astro.props as Props;
---

<div class='flex flex-col items-center gap-12'>
  <div
    class='bg-[url("/assets/shared/bg-pattern-small-circle.svg")] bg-no-repeat'
  >
    <img src={image} alt={alt} />
  </div>
  <div class='text-center'>
    <h3 class='font-medium uppercase'>{title}</h3>
    {description && <p>{description}</p>}
    {button && <Button {...buttonProps} />}
  </div>
</div>
