---
import Button from './Button.astro';
import Input from './Input.astro';
---

<div
  class='flex flex-col items-center px-6 py-[4.5rem] bg-peach-600 bg-[url("/assets/mobile/contact/bg-pattern-hero-contact-mobile.svg")]'
>
  <div class='flex flex-col items-center gap-6 text-white'>
    <h1>Contact Us</h1>
    <p class='text-[0.9375rem] text-center'>
      Ready to take it to the next level? Let’s talk about your project or idea
      and find out how we can help your business grow. If you are looking for
      unique digital experiences that’s relatable to your users, drop us a line.
    </p>
  </div>
  <div class='mt-12 w-full'>
    <form action=''>
      <div class='flex flex-col items-center gap-6'>
        <Input name='name' placeholder='Name' />
        <Input name='email' placeholder='Email' type='email' />
        <Input name='phone' placeholder='Phone' />
        <textarea
          name='message'
          placeholder='Your Message'
          rows='4'
          class='bg-transparent border-b border-white placeholder-white placeholder-opacity-40 w-full p-2 text-[0.9375rem] resize-none'
        ></textarea>
        <Button
          buttonText='Submit'
          buttonBgColor='bg-white'
          buttonTextColor='text-black'
          buttonHref='/'
          buttonType='submit'
        />
      </div>
    </form>
  </div>
</div>
