---
import MobileMenu from './MobileMenu';
---

<header class='sticky top-0 z-10 bg-white'>
  <div class='flex items-center justify-between px-6 py-9 h-7'>
    <div>
      <a href='/'>
        <img src='/assets/shared/logo-dark.png' alt='logo' class='!h-7' />
      </a>
    </div>
    <div class='md:hidden'>
      <MobileMenu client:media='(max-width: 48rem)' />
    </div>
  </div>
</header>
