<header class='sticky top-0 z-10 bg-white'>
  <div class='flex justify-between items-center px-6 py-9'>
    <div>
      <a href='/'>
        <img src='/assets/shared/logo-dark.png' alt='logo' class='block h-7' />
      </a>
    </div>
    <div>
      <img src='/assets/mobile/icon-hamburger.svg' alt='mobile menu' />
    </div>
  </div>
  <nav>
    <!-- toggle mobile menu with js, will be hidden at md size -->
    <ul role='list' class='hidden'>
      <li>
        <a href='#'>Our Company</a>
      </li>
      <li>
        <a href='#'>Locations</a>
      </li>
      <li>
        <a href='#'>Contact</a>
      </li>
    </ul>
  </nav>
</header>
