---
export interface Props {
  name: string;
  placeholder: string;
  type?: 'text' | 'email';
}

const { name, placeholder, type = 'text' } = Astro.props as Props;
---

<div class='w-full'>
  <label for={name}>
    <input
      type={type}
      id={name}
      placeholder={placeholder}
      class='bg-transparent border-b border-white placeholder-white placeholder-opacity-40 w-full p-2 text-[0.9375rem]'
    />
  </label>
</div>
