---
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';
import Meta from '@components/layout/Meta.astro';
import '@style/global.css';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/static/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/static/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/static/favicon-16x16.png'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css'
      integrity='sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=='
      crossorigin=''
    />
    <Meta />
    <title>Designo - By Ivan Olmo</title>
  </head>
  <body class='relative'>
    <Header />
    <main class='md:px-10 lg:px-40'>
      <div id='overlay'></div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
