---
export interface Props {
  buttonText: string;
  buttonBgColor: string;
  buttonTextColor: string;
  buttonHref: string;
}

const { buttonText, buttonBgColor, buttonTextColor, buttonHref } =
  Astro.props as Props;
---

<a href={buttonHref}>
  <div
    class={`flex justify-center items-center py-4 rounded-lg w-[152px] ${buttonBgColor} hover:bg-peach-400 ${buttonTextColor} hover:text-white transition-colors duration-300`}
  >
    <span class='font-medium uppercase'>{buttonText}</span>
  </div>
</a>
