---
export interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props as Props;
---

<div class='overflow-hidden rounded-2xl md:flex lg:flex-col group'>
  <div class='h-80 md:w-1/2 lg:w-full'>
    <img src={image} alt={title} class='w-full h-full' />
  </div>
  <div
    class='flex flex-col justify-center items-center gap-4 px-8 md:px-14 lg:py-8 bg-peach-100 group-hover:bg-peach-600 group-hover:text-white md:w-1/2 lg:w-full transition-colors duration-300'
  >
    <h3
      class='text-peach-600 group-hover:text-white uppercase transition-colors duration-300'
    >
      {title}
    </h3>
    <p class='text-center'>{description}</p>
  </div>
</div>
