---
export interface Props {
  dark: boolean;
  rowOne?: string;
  rowTwo?: string;
  rowThree?: string;
}

const { rowOne, rowTwo, rowThree, dark } = Astro.props as Props;
---

<div
  class={`flex flex-col items-center md:items-start gap-2 text-base ${
    dark ? 'text-black' : 'text-gray-200/50'
  }`}
>
  <span class='font-bold'>{rowOne}</span>
  <span>{rowTwo}</span>
  <span>{rowThree}</span>
</div>
