---
import Button from './Button.astro';
---

<div
  class='flex flex-col lg:flex-row items-center lg:justify-between gap-6 text-center bg-peach-600 bg-[url("/assets/shared/components/bg-pattern-call-to-action.svg")] bg-[top_180px_right] md:bg-left px-6 md:px-36 lg:px-24 py-16 md:py-14 lg:py-20 lg:mx-[120px] text-white rounded-2xl'
>
  <div class='flex flex-col items-center gap-6 lg:items-start lg:text-start'>
    <h1 class='md:text-[2.5rem] md:px-10 lg:p-0 lg:max-w-xs'>
      Let's talk about your project
    </h1>
    <p class='text-sm md:text-base'>
      Ready to take it to the next level? Contact us today and find out how our
      expertise can help your business grow.
    </p>
  </div>
  <Button
    buttonText='Get in touch'
    buttonBgColor='bg-white'
    buttonTextColor='text-black'
    buttonHref='/contact'
  />
</div>
